In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
train=pd.read_csv("train.csv")

In [3]:
test=pd.read_csv("test.csv")

In [50]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 16 columns):
User_ID                         550068 non-null int64
Product_ID                      550068 non-null int32
Gender                          550068 non-null int64
Age                             550068 non-null int64
Occupation                      550068 non-null int64
City_Category                   550068 non-null int64
Marital_Status                  550068 non-null int64
Product_Category_1              550068 non-null int64
Product_Category_2              550068 non-null float64
Product_Category_3              166821 non-null float64
Purchase                        550068 non-null int64
Stay_In_Current_City_Years_0    550068 non-null uint8
Stay_In_Current_City_Years_1    550068 non-null uint8
Stay_In_Current_City_Years_2    550068 non-null uint8
Stay_In_Current_City_Years_3    550068 non-null uint8
Stay_In_Current_City_Years_4    550068 non-null uint8
dtypes: float64(2), int32(1), int64(8), uint8(5)
memory usage: 46.7 MB

In [51]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233599 entries, 0 to 233598
Data columns (total 15 columns):
User_ID                         233599 non-null int64
Product_ID                      233599 non-null int32
Gender                          233599 non-null int64
Age                             233599 non-null int64
Occupation                      233599 non-null int64
City_Category                   233599 non-null int64
Marital_Status                  233599 non-null int64
Product_Category_1              233599 non-null int64
Product_Category_2              233599 non-null float64
Product_Category_3              71037 non-null float64
Stay_In_Current_City_Years_0    233599 non-null uint8
Stay_In_Current_City_Years_1    233599 non-null uint8
Stay_In_Current_City_Years_2    233599 non-null uint8
Stay_In_Current_City_Years_3    233599 non-null uint8
Stay_In_Current_City_Years_4    233599 non-null uint8
dtypes: float64(2), int32(1), int64(7), uint8(5)
memory usage: 18.0 MB

In [ ]:
##creating product id as int

In [4]:
train["Product_ID"]=train["Product_ID"].str.replace("P","")

In [5]:
test["Product_ID"]=test["Product_ID"].str.replace("P","")

In [6]:
train.Product_ID=train.Product_ID.astype(str).astype(int)

In [7]:
test.Product_ID=test.Product_ID.astype(str).astype(int)

In [24]:
##creating gender as int
train.Gender.value_counts()

M    414259
F    135809
Name: Gender, dtype: int64

In [8]:
train.Gender=train.Gender.map({"M":1,"F":0})

In [9]:
test.Gender=test.Gender.map({"M":1,"F":0})

In [30]:
train.Age.value_counts()

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64

In [10]:
train.Age=train.Age.map({"0-17":17,"18-25":25,"26-35":35,"36-45":45,"46-50":50,"51-55":55,"55+":60})

In [11]:
test.Age=test.Age.map({"0-17":17,"18-25":25,"26-35":35,"36-45":45,"46-50":50,"51-55":55,"55+":60})

In [35]:
train.City_Category.value_counts()

B    231173
C    171175
A    147720
Name: City_Category, dtype: int64

In [12]:
train.City_Category=train.City_Category.map({"A":1,"B":2,"C":3})

In [13]:
test.City_Category=test.City_Category.map({"A":1,"B":2,"C":3})

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

train['Stay_In_Current_City_Years'] = le.fit_transform(train['Stay_In_Current_City_Years'])
    
#Dummy Variables:
train = pd.get_dummies(train, columns=['Stay_In_Current_City_Years'])

In [43]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4
0,1000001,69042,0,17,10,1,0,3,NaN,NaN,8370,0,0,1,0,0
1,1000001,248942,0,17,10,1,0,1,6.0,14.0,15200,0,0,1,0,0
2,1000001,87842,0,17,10,1,0,12,NaN,NaN,1422,0,0,1,0,0
3,1000001,85442,0,17,10,1,0,12,14.0,NaN,1057,0,0,1,0,0
4,1000002,285442,1,60,16,3,0,8,NaN,NaN,7969,0,0,0,0,1

In [15]:
test['Stay_In_Current_City_Years'] = le.fit_transform(test['Stay_In_Current_City_Years'])
    
#Dummy Variables:
test = pd.get_dummies(test, columns=['Stay_In_Current_City_Years'])

In [47]:
train.corr()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Stay_In_Current_City_Years_0,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4
User_ID,1.000000,-0.017619,-0.033474,0.041178,-0.023971,0.022859,0.020443,0.003825,0.001529,0.003419,0.004716,0.006495,0.019574,0.018551,-0.030953,-0.019567
Product_ID,-0.017619,1.000000,0.021084,0.029461,0.009344,0.010162,0.013194,0.090193,0.034114,0.044938,-0.103961,0.001330,-0.000236,0.003490,-0.000305,-0.004384
Gender,-0.033474,0.021084,1.000000,-0.002576,0.117291,-0.004515,-0.011603,-0.045594,-0.018591,0.028069,0.060346,0.016094,-0.030400,0.008806,-0.011080,0.027125
Age,0.041178,0.029461,-0.002576,1.000000,0.097473,0.108706,0.309509,0.060272,0.055623,0.057807,0.016345,-0.026977,0.037838,-0.018201,-0.003961,-0.000779
Occupation,-0.023971,0.009344,0.117291,0.097473,1.000000,0.034479,0.024280,-0.007618,-0.000384,0.013263,0.020833,-0.026055,-0.002092,-0.012716,0.025974,0.013905
City_Category,0.022859,0.010162,-0.004515,0.108706,0.034479,1.000000,0.039790,-0.014364,-0.011822,-0.002347,0.061914,-0.040678,0.017688,0.009208,-0.006805,0.012357
Marital_Status,0.020443,0.013194,-0.011603,0.309509,0.024280,0.039790,1.000000,0.019888,0.015138,0.019473,-0.000463,-0.010673,0.028831,-0.006474,-0.013635,-0.006782
Product_Category_1,0.003825,0.090193,-0.045594,0.060272,-0.007618,-0.014364,0.019888,1.000000,0.540583,0.229678,-0.343703,0.004576,0.006121,-0.007000,-0.010995,0.006624
Product_Category_2,0.001529,0.034114,-0.018591,0.055623,-0.000384,-0.011822,0.015138,0.540583,1.000000,0.543649,-0.209918,0.001125,0.005690,-0.006559,-0.006437,0.005264
Product_Category_3,0.003419,0.044938,0.028069,0.057807,0.013263,-0.002347,0.019473,0.229678,0.543649,1.000000,-0.022006,-0.000287,0.002027,-0.006131,-0.001044,0.005370
Purchase,0.004716,-0.103961,0.060346,0.016345,0.020833,0.061914,-0.000463,-0.343703,-0.209918,-0.022006,1.000000,-0.006605,-0.002030,0.005358,0.002090,0.000988
Stay_In_Current_City_Years_0,0.006495,0.001330,0.016094,-0.026977,-0.026055,-0.040678,-0.010673,0.004576,0.001125,-0.000287,-0.006605,1.000000,-0.291711,-0.188509,-0.181025,-0.168752
Stay_In_Current_City_Years_1,0.019574,-0.000236,-0.030400,0.037838,-0.002092,0.017688,0.028831,0.006121,0.005690,0.002027,-0.002030,-0.291711,1.000000,-0.351584,-0.337625,-0.314736
Stay_In_Current_City_Years_2,0.018551,0.003490,0.008806,-0.018201,-0.012716,0.009208,-0.006474,-0.007000,-0.006559,-0.006131,0.005358,-0.188509,-0.351584,1.000000,-0.218180,-0.203389
Stay_In_Current_City_Years_3,-0.030953,-0.000305,-0.011080,-0.003961,0.025974,-0.006805,-0.013635,-0.010995,-0.006437,-0.001044,0.002090,-0.181025,-0.337625,-0.218180,1.000000,-0.195314
Stay_In_Current_City_Years_4,-0.019567,-0.004384,0.027125,-0.000779,0.013905,0.012357,-0.006782,0.006624,0.005264,0.005370,0.000988,-0.168752,-0.314736,-0.203389,-0.195314,1.000000

In [16]:
train.Product_Category_2=train.Product_Category_2.fillna(0)

In [17]:
test.Product_Category_2=test.Product_Category_2.fillna(0)

In [18]:
train.Product_Category_3=train.Product_Category_3.fillna(0)

In [19]:
test.Product_Category_3=test.Product_Category_3.fillna(0)

In [22]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 16 columns):
User_ID                         550068 non-null int64
Product_ID                      550068 non-null int32
Gender                          550068 non-null int64
Age                             550068 non-null int64
Occupation                      550068 non-null int64
City_Category                   550068 non-null int64
Marital_Status                  550068 non-null int64
Product_Category_1              550068 non-null int64
Product_Category_2              550068 non-null float64
Product_Category_3              550068 non-null float64
Purchase                        550068 non-null int64
Stay_In_Current_City_Years_0    550068 non-null uint8
Stay_In_Current_City_Years_1    550068 non-null uint8
Stay_In_Current_City_Years_2    550068 non-null uint8
Stay_In_Current_City_Years_3    550068 non-null uint8
Stay_In_Current_City_Years_4    550068 non-null uint8
dtypes: float64(2), int32(1), int64(8), uint8(5)
memory usage: 46.7 MB

In [20]:
train.Purchase.quantile([0.1,0.2,0.3,0.4])

0.1    3540.0
0.2    5266.0
0.3    6136.0
0.4    7150.0
Name: Purchase, dtype: float64

In [21]:
train.Purchase.quantile([0.97,0.98,0.99,1.0])

0.97    19628.00
0.98    20202.66
0.99    20665.00
1.00    23961.00
Name: Purchase, dtype: float64

In [23]:
train.drop(train[train["Purchase"]>20665].index,axis=0,inplace=True)

In [88]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544576 entries, 0 to 550067
Data columns (total 16 columns):
User_ID                         544576 non-null int64
Product_ID                      544576 non-null int32
Gender                          544576 non-null int64
Age                             544576 non-null int64
Occupation                      544576 non-null int64
City_Category                   544576 non-null int64
Marital_Status                  544576 non-null int64
Product_Category_1              544576 non-null int64
Product_Category_2              544576 non-null float64
Product_Category_3              544576 non-null float64
Purchase                        544576 non-null int64
Stay_In_Current_City_Years_0    544576 non-null uint8
Stay_In_Current_City_Years_1    544576 non-null uint8
Stay_In_Current_City_Years_2    544576 non-null uint8
Stay_In_Current_City_Years_3    544576 non-null uint8
Stay_In_Current_City_Years_4    544576 non-null uint8
dtypes: float64(2), int32(1), int64(8), uint8(5)
memory usage: 50.4 MB

In [31]:
y_train = train["Purchase"]
X_train = train.drop(["Purchase"], axis=1)

X_test = test

In [26]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

In [32]:
kf = KFold(n_splits=5)
rf_model = RandomForestRegressor(random_state=7)
scores = cross_val_score(rf_model, X_train, y_train, scoring="neg_mean_squared_error", cv=kf)
x = scores.mean()
x

C:\Users\admin2\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin2\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin2\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin2\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\admin2\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

-7899133.113094118

In [33]:
sqrt(-x)

2810.5396480203085

In [27]:
from sklearn import metrics

In [42]:
import xgboost as xgb

model = xgb.XGBRegressor(n_estimator=1000, max_depth=12, random_state=13, eta=0.2, n_jobs=-1)
model.fit(X_train, y_train)
y_pred = model.predict(X_train)

In [43]:
y_pred = model.predict(X_train)

In [37]:
from sklearn.model_selection import GridSearchCV,RandomizedSearchCV

In [35]:
params = {
    'n_estimators': n_estimators,
    'max_depth':max_depth,
    'learning_rate':learning_rate,
    'min_child_weight':min_child_weight,
    'booster':booster,
    'base_score':base_score
    }

In [34]:
n_estimators = [100, 500, 900, 1100, 1500]
max_depth = [2, 3, 5, 10, 15]
booster=['gbtree','gblinear']
learning_rate=[0.05,0.1,0.15,0.20]
min_child_weight=[1,2,3,4]
base_score=[0.25,0.5,0.75,1]

In [123]:
random_cv = RandomizedSearchCV(estimator=xgb.XGBRegressor(),
            param_distributions=params,
            cv=kf, n_iter=5,
            scoring = 'neg_mean_squared_error',n_jobs = -1,
            verbose = 3, 
            return_train_score = True,
            )

In [ ]:
random_cv.fit(X_train,y_train)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

In [40]:
grid_search=GridSearchCV(estimator=xgb.XGBRegressor(),param_grid=params,
            cv=5,
            scoring = 'neg_mean_squared_error',n_jobs = -1,
            verbose = 3, 
            return_train_score = True,
            )

In [44]:
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_train, y_pred)))

RMSE: 2037.4411312095053

In [45]:
pred1=model.predict(X_test)

In [46]:
pred=pd.DataFrame(pred1)

In [47]:
sm=pd.read_csv("submit.csv")

In [48]:
submit=pd.concat([pred,sm.User_ID,sm.Product_ID],axis=1)

In [49]:
submit.columns=["Purchase","User_ID","Product_ID"]

In [50]:
submit.Purchase=submit.Purchase.round().astype(int)

In [51]:
submit.to_csv("Submission5.csv",index=False)